@charset "utf-8";
body{font-size: .24rem;}
/*****************************************
* @Author: 有故事的花生
* @Date: 2017-04-11
* @Last Modified by: 有故事的花生
* @Last Modified time: 2017-04-11
********************************************/

/*flex*/
.box{
	display: flex;
}
.box_start{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.box_center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.box_between{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.box_around{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.box_end{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.media{
  display: flex;
  align-items: flex-start;
}
/*项目排不下会换行*/
.flex_wrap{
	flex-wrap: wrap;
}
.grid_cell {
  flex: 1;
}
.grid_cell2{
	flex: 2;
}
.grid_cell.u_full {
  flex: 0 0 100%;
}
.grid_cell.u_1of2 {
  flex: 0 0 50%;
}
.grid_cell.u_1of3 {
  flex: 0 0 33.3333%;
}
.grid_cell.u_1of4 {
  flex: 0 0 25%;
}

.grid_cell.u_lof60 {
	flex: 0 0 60%;
}
.grid_cell.u_lof70 {
	flex: 0 0 70%;
}

/*浮动*/
.fl{float: left;}
.fr{float: right;}
/*清除浮动*/
.clearfix{ zoom:1; }
.clearfix:after{display: block;visibility: hidden;voerflow: hidden;content: ".";clear: both;height: 0;}
/*定位*/
.p_r{position: relative;}
.p_a{position: absolute;}
.p_f{position: fixed;}
.t{top: 0;}
.t50{top: 50%;}
.t130{top: 2.6rem;}
.t10{top: 0.2rem;}
.t20{top: 0.4rem;}
.l{left: 0;}
.l50{left: 50%;}
.l_f8{left: -0.16rem;}
.l10{left: 0.2rem;}
.l20{left: 0.4rem;}
.r{right: 0;}
.r5{right: 0.1rem;}
.r10{right: 0.2rem;}
.r20{right: 0.4rem;}
.b{bottom: 0;}
.b_f4{bottom: -0.08rem;}
.b_f5{bottom: -0.1rem;}
.b10{bottom: 0.2rem;}
.b20{bottom: 0.4rem;}
.z99{z-index: 99;}
.z100{z-index: 100;}
.z101{z-index: 101;}
.z102{z-index: 102;}
.z103{z-index: 103;}
/*div 居中*/
.jz{transform: translate(-50%,-50%)}
/*文本溢出*/
.wbyc{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.wbyc2{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.wbyc3{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.wbyc4{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden;}
.wbyc5{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;}
/*显示隐藏*/
.hide{display: none;}
.show{display: block;}
.dis_in{display: inline-block;}
.visibility_h{visibility: hidden;}
.over_hidde{overflow: hidden;}
/*遮罩*/
.mk{background: #3a3a3a; filter:alpha(opacity=60);-moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6;position: fixed;left: 0;top: 0;bottom: 0;right: 0;z-index: 100;}
.mk2{background: transparent;position: fixed;left: 0;top: 0;bottom: 0;right: 0;z-index: 100;}
/*删除线*/
.scx{text-decoration:line-through;}
/*滚动条*/
.over_y{overflow-y: auto;}
.over_x{overflow-x: auto;}
.over{overflow: auto;}
/*透明*/
.opacity{filter: alpha(opacity=0);-moz-opacity: 0; -khtml-opacity: 0;opacity: 0;}
/*iphone手机position:fixed定位解决*/
.scrollBox{overflow:hidden;overflow-y:scroll;height: 100%;-webkit-overflow-scrolling: touch;padding-bottom: 1rem;}
/*文字居中*/
.t_c{text-align: center;}
.t_r{text-align: right;}
.t_l{text-align: left;}
/*字间距*/
.ls1{letter-spacing: 1px;}
.ls2{letter-spacing: 2px;}
.ls3{letter-spacing: 3px;}
.ls4{letter-spacing: 4px;}
/*圆角*/
.br3{border-radius: .06rem;}
.br3_top_left{border-top-left-radius: .06rem}
.br3_bottom_left{border-bottom-left-radius: .06rem}
.br3_top_right{border-top-right-radius: .06rem}
.br3_bottom_right{border-bottom-right-radius: .06rem}
.br15{border-radius: 0.3rem;}
.br50{border-radius: 50%;}
/*边框线*/
.bor{border: 1px solid #e5e5e5;}
.borCol_main{border:1px solid #F53550;}
.borCol_main_t{border-top:1px solid #F53550;}
.borCol_main_b{border-bottom:1px solid #f53550;}
.bor_t{border-top: 1px solid #e5e5e5}
.bor_b{border-bottom: 1px solid #e5e5e5}
.bor_l{border-left: 2px solid #EE6B1A}
.bor_r{border-right: 1px solid #e5e5e5}
.bor_dashed_b{border-bottom: 1px dashed #e5e5e5;}
.bor_dashed_blue{border-bottom: 1px dashed #50C9D3;}
.bor_n{border: none;}
/*自适应iphone6设计稿*/
/*字体*/
.f_w{font-weight: bold;}
.f10{font-size:.2rem}
.f12{font-size:.24rem}
.f13{font-size:.26rem}
.f14{font-size:.28rem}
.f15{font-size:.3rem}
.f16{font-size:.32rem}
.f18{font-size:.36rem}
.f20{font-size:.4rem}
.f22{font-size:.44rem}
.f30{font-size:.6rem}
.f32{font-size: 0.64rem}
/*颜色*/
.col_fff{color:#fff;}
.col_000{color:#000;}
.col_333{color: #333;}
.col_666{color: #666;}
.col_999{color: #999;}
.col_b2{color: #b2b2b2;}
.col_yellow{color: #FBD102;}
.col_main{color: #EE6B1A; }
.back_main{background:#F1F5F6 ;}
.back_blue{background:#50C9D3 ;}
.back_fff{background-color: #fff;}
.back_000{background-color: #000;}
.back_999{background-color: #999;}
.back_f1{background-color: #F1F5F6;}
.back_red{background-color: red;}
.backRgba_000{background-color: rgba(0,0,0,.5)}
.back_tm{background-color:transparent;}
.back_f3f4{background-color: #f3f3f4;}
/*居中*/
.m0a{margin: 0 auto;}
/*外边距*/
.m0{margin:0px !important;}
.m5{margin:.1rem !important;}

.m10{margin:.2rem !important;}
.m15{margin:.3rem !important;}
.m20{margin:.4rem !important;}
.m30{margin:.6rem !important;}
.m40{margin:.8rem !important;}
/*外边距-上*/
.mt0{margin-top:0px !important;}
.mt5{margin-top:.1rem !important;}
.mt10{margin-top:.2rem !important;}
.mt15{margin-top:.3rem !important;}
.mt20{margin-top:.4rem !important;}
.mt25{margin-top:.5rem !important;}
.mt30{margin-top:.6rem !important;}
.mt40{margin-top:.8rem !important;}
.mt_b2{margin-top:20%;}
/*外边距-右*/
.mr0{margin-right:0px !important;}
.mr5{margin-right:.1rem !important;}
.mr10{margin-right:.2rem !important;}
.mr15{margin-right:.3rem !important;}
.mr20{margin-right:.4rem !important;}
.mr30{margin-right:.6rem !important;}
.mr40{margin-right:.8rem !important;}
/*外边距-下*/
.mb0{margin-bottom:0px !important;}
.mb5{margin-bottom:.1rem !important;}
.mb8{margin-bottom:.16rem !important;}
.mb10{margin-bottom:.2rem !important;}
.mb15{margin-bottom:.3rem !important;}
.mb20{margin-bottom:.4rem !important;}
.mb30{margin-bottom:.6rem !important;}
.mb40{margin-bottom:.8rem !important;}
.mb50{margin-bottom:1.0rem !important;}
.mb60{margin-bottom:1.2rem !important;}
.mb_b2{margin-bottom: 20%;}
/*外边距-左*/
.ml_f5{margin-left: -0.1rem;}
.ml_f10{margin-left: -0.2rem}
.ml0{margin-left:0px !important;}
.ml5{margin-left:.1rem !important;}
.ml10{margin-left:.2rem !important;}
.ml15{margin-left:.3rem !important;}
.ml20{margin-left:.4rem !important;}
.ml30{margin-left:.6rem !important;}
.ml40{margin-left:.8rem !important;}
.ml235{margin-left: 4.7rem !important;}
/*内边距*/
.p0{padding:0px !important;}
.p5{padding:.1rem !important;}
.p10{padding:.2rem !important;}
.p15{padding:.3rem !important;}
.p20{padding:.4rem !important;}
.p30{padding:.6rem !important;}
.p40{padding:.8rem !important;}
/*内边距-下*/
.pb0{padding-bottom:0px !important;}
.pb5{padding-bottom:.1rem !important;}
.pb10{padding-bottom:.2rem !important;}
.pb15{padding-bottom:.3rem !important;}
.pb20{padding-bottom:.4rem !important;}
.pb30{padding-bottom:.6rem !important;}
.pb40{padding-bottom:.8rem !important;}
.pb50{padding-bottom:1.0rem !important;}
.pb60{padding-bottom:1.2rem !important;}
.pb_b2{padding-bottom: 20%;}
/*内边距-上*/
.pt0{padding-top:0px !important;}
.pt5{padding-top:.1rem !important;}
.pt10{padding-top:.2rem !important;}
.pt15{padding-top:.3rem !important;}
.pt20{padding-top:.4rem !important;}
.pt30{padding-top:.6rem !important;}
.pt40{padding-top:.8rem !important;}
.pt120{padding-top:2.4rem !important;}
.pt_b2{padding-top: 20%;}
/*内边距-左*/
.pl0{padding-left:0px !important;}
.pl5{padding-left:.1rem !important;}
.pl10{padding-left:.2rem !important;}
.pl15{padding-left:.3rem !important;}
.pl20{padding-left:.4rem !important;}
.pl25{padding-left:.5rem !important;}
.pl30{padding-left:.6rem !important;}
.pl40{padding-left:.8rem !important;}

/*内边距-右*/
.pr0{padding-right:0px !important;}
.pr5{padding-right:.1rem !important;}
.pr10{padding-right:.2rem !important;}
.pr15{padding-right:.3rem !important;}
.pr20{padding-right:.4rem !important;}
.pr30{padding-right:.6rem !important;}
.pr40{padding-right:.8rem !important;}

/*高度*/
.h{height: 100%;}
.h_b3{height: 30%;}
.h_b5{height: 50%;}
.max_h10{max-height: 100%;}
.min_h10{min-height: 100%;}
.h5{height: 0.1rem;}
.h10{height: 0.2rem;}
.h12{height: 0.24rem;}
.h15{height: 0.3rem;}
.h18{height: 0.36rem;}
.h20{height: 0.4rem;}
.h22{height: 0.44rem;}
.h24{height: 0.48rem;}
.h25{height: 0.5rem;}
.h30{height: 0.6rem;}
.h35{height: 0.7rem;}
.h40{height: 0.8rem;}
.h42{height: 0.84rem;}
.h45{height: 0.9rem;}
.h50{height: 1rem;}
.h55{height: 1.1rem;}
.h60{height: 1.2rem;}
.h65{height: 1.3rem;}
.h70{height: 1.4rem;}
.h75{height: 1.5rem;}
.h80{height: 1.6rem;}
.h85{height: 1.7rem;}
.h90{height: 1.8rem;}
.h95{height: 1.9rem;}
.h100{height: 2.0rem;}
.h105{height: 2.1rem;}
.h115{height: 2.3rem;}
.h120{height: 2.4rem;}
.h140{height: 2.8rem;}
.h150{height: 3rem;}
.h155{height: 3.1rem;}
.h166{height: 3.32rem;}
.h180{height: 3.6rem;}
.h200{height: 4.0rem;}
.h220{height: 4.4rem;}
.h275{height: 5.5rem;}
.h280{height: 5.6rem;}
.h350{height: 7.0rem;}
.h375{height: 7.5rem;}
.h420{height: 8.4rem;}
.h_b8{height: 80%;}
.h_b9{height: 90%;}
/*行高*/
.lh10{line-height: 0.2rem;}
.lh15{line-height: 0.3rem;}
.lh20{line-height: 0.4rem;}
.lh25{line-height: 0.5rem;}
.lh30{line-height: 0.6rem;}
.lh40{line-height: 0.8rem;}
.lh45{line-height: 0.9rem;}
.lh50{line-height: 1rem;}
.lh60{line-height: 1.2rem;}
.lh70{line-height: 1.4rem;}
/*宽度*/
.w{width: 100%;}
.w_b1{width: 10%;}
.w_b2{width: 20%;}
.w_b25{width: 25%;}
.w_b3{width: 30%;}
.w_b33{width: 33.3%;}
.w_b4{width: 40%;}
.w_b45{width: 45%;}
.w_b5{width: 50%;}
.w_b6{width: 60%;}
.w_b7{width: 70%;}
.w_b75{width: 75%;}
.w_b8{width: 80%;}
.w_b85{width: 85%;}
.w_b9{width: 90%;}
.max_w5{max-width: 50%;}
.max_w6{max-width: 60%;}
.max_w7{max-width: 70%;}
.max_w8{max-width: 80%;}
.max_w9{max-width: 90%;}
.max_w10{max-width: 100%;}
.min_w5{min-width: 50%;}
.min_w6{min-width: 60%;}
.min_w7{min-width: 70%;}
.min_w8{min-width: 80%;}
.min_w9{min-width: 90%;}
.min_w10{min-width: 100%;}
.w1{width: 0.02rem;}
.w10{width: 0.2rem;}
.w15{width: 0.3rem;}
.w18{width: 0.36rem}
.w20{width: 0.4rem;}
.w22{width: 0.44rem;}
.w24{width: 0.48rem;}
.w25{width: 0.5rem;}
.w30{width: 0.6rem;}
.w35{width: 0.7rem;}
.w40{width: 0.8rem;}
.w45{width: 0.9rem}
.w50{width: 1rem;}
.w55{width: 1.1rem;}
.w60{width: 1.2rem;}
.w65{width: 1.3rem;}
.w70{width: 1.4rem;}
.w80{width: 1.6rem;}
.w90{width: 1.8rem;}
.w100{width: 2.0rem;}
.w110{width: 2.2rem;}
.w120{width: 2.4rem;}
.w150{width: 3rem;}

.w160{width: 3.2rem;}
.w280{width: 5.6rem;}
.w300{width: 6.0rem;}
